.version.index /* version checker */
{
	color: #000013;
	background-color: #FB1A69;
}

#page
{
	z-index: 1;
	min-height: 571.8117962898128px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 61px;
	padding-bottom: 867.1882037101872px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u200-12
{
	z-index: 18;
	min-height: 82px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	width: 59.9%;
	margin-left: 20%;
}

#u200-4,#u200-6,#u200-8
{
	font-size: 26px;
	line-height: 31px;
}

#u200-2,#u200-10
{
	font-size: 32px;
	line-height: 38px;
}

#u94-12
{
	z-index: 6;
	min-height: 98px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 52px;
	position: relative;
	width: 59.9%;
	margin-left: 20%;
}

#pu203
{
	width: 40.53%;
	margin-left: 29.69%;
}

#u203
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	width: 33.17%;
}

#u213
{
	z-index: 4;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,129,129);
	-ms-transform: matrix(-1,0,0,-1,129,129);
	transform: matrix(-1,0,0,-1,129,129);
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	width: 33.17%;
	left: 66.84%;
}

#u266
{
	z-index: 30;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 83.3%;
}

#u303
{
	z-index: 32;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	width: 16.46%;
	left: 83.3%;
}

#u289
{
	z-index: 34;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 16.71%;
}

#u324
{
	z-index: 36;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	width: 16.71%;
	left: 16.71%;
}

#u282
{
	z-index: 38;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 66.84%;
}

#u310
{
	z-index: 40;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	width: 16.46%;
	left: 66.84%;
}

#u296
{
	z-index: 42;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
}

#u317
{
	z-index: 44;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	width: 16.71%;
}

#u203_img,#u213_img,#u266_img,#u303_img,#u289_img,#u324_img,#u282_img,#u310_img,#u296_img,#u317_img
{
	width: 100%;
}

#u183
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 41.14%;
	left: 43.45%;
}

#u193
{
	z-index: 48;
	-webkit-transform: matrix(-1,0,0,-1,161,179);
	-ms-transform: matrix(-1,0,0,-1,161,179);
	transform: matrix(-1,0,0,-1,161,179);
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	width: 41.39%;
	left: 15.17%;
}

#u193_img
{
	display: block;
	vertical-align: top;
	width: 99.38%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

